/* google font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

:root {
  --dark-blue-dark-mode-elements: hsl(209, 23%, 22%);
  --very-dark-blue-dark-mode-background: hsl(207, 26%, 17%);
  --very-dark-blue-light-mode-text: hsl(200, 15%, 8%);
  --dark-gray-light-mode-input: hsl(0, 0%, 52%);
  --very-light-gray-light-mode-background: hsl(0, 0%, 98%);
  --white-dark-mode-text-light-mode-elements: hsl(0, 0%, 100%);

  --fs-homepage: 1rem;
  --fs-detailspage: 1rem;
}

a:focus-visible,
button:focus-visible,
select:focus-visible,
input:focus-visible {
  outline-offset: 3px;
}

::placeholder,
select,
button,
input {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--fs-homepage);
}

// .darkmode {
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-dark-mode-text-light-mode-elements);
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--fs-homepage);
}

.container {
  width: min(90%, 1000px);
  margin: 0 auto;
}

/* primary header */
.primary-header .container,
.controls-header {
  display: flex;
  justify-content: space-between;
}
